body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}
.gameCanvas {
   
}

#game-container {
    width: 1000px;
    height: 600px;
    border: 2px solid #ffffff;
    padding: 20px;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#welcome-screen, #game-board, #match-history {
    display: none;
}

#game-board.hidden, #match-history.hidden {
    display: none;
}

#welcome-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#player-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#timer {
    font-size: 24px;
}

canvas {
    border: 2px solid #ffffff;
    background-color: #2e2e2e;
    background-image: url(GAME_MEDIA/Sprites/background2.jpg);
    background-size: 100% 100%;
}
    